@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
@import "tailwindcss";

html {
  font-family: "Manrope", sans-serif;
}

body,
#root {
  min-height: 100vh;
}

button,
input,
textarea {
  font: inherit;
}
